:root{ 
    --color1:#c3d356;
    --color2:#527dbc;
    --color3:#341980;
    --color4:#120731;
    --color5:#a2a2a2;
    --fil:blur(50px);
    --text:#1D1C1C;
    --cardw:950px;
    --cardh:550px;
}
$defaultDuration: .3s;
$primaryColour: #ececec;
$secondaryColour: #666;
$shadowColour: rgba(0, 0, 0, .6);

$cardwidth : 190px;
$cardheight : 300px;