:root{ 
    --orititle:#ccc;
    --cardw:950px;
    --cardh:550px;
}
$defaultDuration: .3s;
$primaryColour: #ececec;
$secondaryColour: #666;
$shadowColour: rgba(0, 0, 0, .6);

$cardwidth : 190px;
$cardwidth2 : 160px;
$cardheight : 300px;
$cardheight2 : 260px;
%btn{
@include base(100px , 30px, block);
  @include text(inherit, center, 30px);
  font-size: 14px;
  border-radius: 30px;
  border: 1px solid #666;
  background-color: rgba(103, 103, 103, 0.6);
  backdrop-filter: blur(5px);
  margin:10px 10px 0 0;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover{
    border: 1px solid #eee;
  }
}

%moviecard{
    @include base($cardwidth, 270px, block);
    object-fit: cover;
}
%moviecard2{
    @include base($cardwidth2, 220px, block);
    object-fit: cover;
}
%pagetitle{
    @include base(100%, 50px, block);
  line-height: 50px;
  text-align: center
}